
.group-input{

    position: relative;
    width: 90%;
    margin: 40px auto 0 auto;

}

input{font-family: inherit;}



.input{

    font-family: inherit;
    display: inline-block;
    width: 100%;
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid #c0bbbb;
    padding: 3px 0 10px 40px;
   
}

.icono{
    position: absolute;  /* para que el icono se ponga al lado del texto*/
    left: 0;
    /* bottom: 10px; */
    font-size: 20px;
    margin-top: 2%;
    margin-left: 2%;
    
}


.enviado-formato{

    background-color: rgba(6, 128, 47, 0.527);
    text-align: center;
    padding: 10px;
    max-width: 400px;
    margin: 0 auto;
    color: white;
    margin-top: 25px;
    border-radius: 10px;
    border-color: rgba(6, 128, 47, 0.527);
    
    }


    .input-group{
        align-items: center;
        justify-content: center;
    }


    
.inputInvalido {

    font-family: inherit;
    display: inline-block;
    width: 100%;
    background: none;
    outline: none;
    border: none;
    padding: 3px 0 10px 40px;
    margin: 0%;
    border: 1px solid var(--color);
    -webkit-box-shadow: 0px 0px 4px 3px rgba(245, 135, 135, 1);
    -moz-box-shadow: 0px 0px 4px 3px rgba(245, 135, 135, 1);
    box-shadow: 0px 0px 4px 3px rgba(245, 135, 135, 1);
}

